<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/plamichh_002/src/plamichh_002/plamichh_lab02_q1.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="plamichh_002.plamichh_lab02_q1"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="plamichh_002"/>
</launchConfiguration>
